@model Article
@section css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/Articles/articleDetail.css")">
}

<header>
	<h1>@Model.Title</h1>
</header>
		
<section>
	<h2>@Model.Title</h2>
    <img src="@Url.Content("~/Content/Images/" + Model.Image)"/>
	<p>@Model.Content</p>
</section>