@model Article
@section css{
    <link rel="stylesheet" type="text/css" media="screen and (min-width: 801px)" href="@Url.Content("~/Content/CSS/Articles/articleDetail.css")">
    <link rel="stylesheet" type="text/css" media="screen and (max-width: 800px)" href="@Url.Content("~/Content/CSS/Articles/articleDetailResponsive.css")">
}

<div class="banner">
	<h1>@Model.Title</h1>
</div>
		
<div class="artikel">
	<h2>@Model.Title</h2>
    <img src="@Url.Content("~/Content/Images/" + Model.Image)"/>
	<p>@Model.Content</p>
</div>