@model IEnumerable<Article>

<div id="responsive-button">
    <ul>
        <li><a><span></span><span></span><span></span></a></li>
    </ul>
</div>

<div class="banner">
    <h1>Artikelen</h1>
</div>

<div class="content">
    <div>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="articlesContent">
    <div>
        <ul>
            @{int i = 0;}

            @foreach (var article in Model)
            {
                i++;
                
                string idName = string.Format("articleButton{0}", i);
                
                string url = string.Format("~/Content/Images/{0}", article.Image);
                <li id="@idName">
                    <a href="@Url.Action("Details", new { id = article.Id })">
                        <img src="@Url.Content(url)">
                        <div class="articleInside">
                            <h2>@article.Title</h2>
                            <p>@article.Contents</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>