@section css{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/Index/Index.css")">
}
<header>
    <h1>Welkom bij Lisa</h1>
    <div>
        <h2>Titel</h2>
        <p>content</p>
    </div>
</header>

<section>
    <div>
        <a name="articles"></a>
        <h1>Artikelen</h1>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
            <li id="link"><a href="@Url.Action("Index", "sections")">Meer artikelen</a></li>
        </ul>
    </div>
</section>

<section id="middle">
    <div>
				<a name="podcasts"></a>
        <h1>Podcasts</h1>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
            <li id="link"><a href="@Url.Action("Index", "Podcasts")">Meer podcasts...</a></li>
        </ul>
    </div>
</section>

<section>
    <div>
        <a name="projects"></a>
        <h1>Projecten</h1>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
            <li id="link"><a href="@Url.Action("Index", "Projects")">Meer projecten...</a></li>
        </ul>
    </div>
</section>