<div class="banner">
    <h1>Welkom bij Lisa</h1>
    <div>
        <h2>Titel</h2>
        <p>content</p>
    </div>
</div>

<div class="content">
    <div>
        <span class="jump-button" id="artikelenButton">Artikelen</span>
        <h1>Artikelen</h1>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
            <li id="link"><a href="@Url.Action("Index", "Articles")">Meer artikelen</a></li>
        </ul>
    </div>
</div>

<div class="content" id="middle">
    <div>
        <span class="jump-button" id="podcastsButton">Podcasts</span>
        <h1 name="podcasts">Podcasts</h1>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
            <li id="link"><a href="@Url.Action("Index", "Podcasts")">Meer podcasts...</a></li>
        </ul>
    </div>
</div>

<div class="content">
    <div>
        <span class="jump-button" id="projectenButton">Projecten</span>
        <h1 name="projecten">Projecten</h1>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("~/Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
            <li id="link"><a href="@Url.Action("Index", "Projects")">Meer projecten...</a></li>
        </ul>
    </div>
</div>