@section css{
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/Index/Index.css")">
}
@*Menu for index page only. Html comment tags are there to remove any spacing between the buttons. If these comments are not there the buttons wont fit in the menu.*@
<nav id="menu">
	<ul>
		<li><a href="#top">&nbsp;</a></li><!--
		--><li><a href="#top">Home</a></li><!--
		--><li><a href="#articles">Artikelen</a></li><!--
		--><li><a href="#podcasts">Podcasts</a></li><!--
		--><li><a href="#projects">Projecten</a></li><!--
		--><li><a href="#footer">Contact</a></li><!--
		--><li><a href="#">Sluiten</a></li>
	</ul>
</nav>

<header>
	<h1>Welkom bij Lisa</h1>
	<div>
		<h2>Titel</h2>
		<p>Literatuur van eigen bodem en de beste boeken die naar het Nederlands zijn vertaald: op bruna.nl bestel je eenvoudig en snel je favoriete Nederlandse boeken! Bekijk onze huidige boeken top 10 met de populairste boeken van dit moment, of één van onze speciaal samengestelde Bruna collecties. Alle Nederlandse boeken zijn overzichtelijk voor je gepresenteerd, van de leukste kinderboeken tot de spannendste thrillers en van reisboek tot kookboek. En heb je een bijzonder boek op tv gezien? Ook die vind je natuurlijk gemakkelijk terug!</p>
	</div>
</header>

<section>
	<div>
		<a name="articles"></a>
		<h1>Artikelen</h1>
		<ul>
			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Penguin.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>

			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Raven.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>

			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Kiwi.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>
			<li id="link"><a href="@Url.Action("Index", "Articles")">Meer artikelen</a></li>
		</ul>
	</div>
</section>

<section id="middle">
	<div>
		<a name="podcasts"></a>
		<h1>Podcasts</h1>
		<ul>
			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Penguin.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>

			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Raven.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>

			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Kiwi.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>
			<li id="link"><a href="@Url.Action("Index", "Podcasts")">Meer podcasts...</a></li>
		</ul>
	</div>
</section>

<section>
	<div>
		<a name="projects"></a>
		<h1>Projecten</h1>
		<ul>
			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Penguin.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>

			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Raven.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>

			<li>
				<a>
					<img src="@Url.Content("~/Content/Images/Kiwi.png")">
					<h2>titel</h2>
					<p>
						tekst
					</p>
				</a>
			</li>
			<li id="link"><a href="@Url.Action("Index", "Projects")">Meer projecten...</a></li>
		</ul>
	</div>
</section>