@model Podcast

<div class="banner">
    <h1>@Model.Title</h1>
</div>

<div class="artikel">
    <h2>@Model.Title</h2>
    <p>@Model.Date</p>
    <img src="@Url.Content("~/Content/Images/" + Model.Image)" />
    <p>@Model.Content</p>
</div>