@model IEnumerable<User>
@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<header>
    <h1>Gebruikers Beheren</h1>
</header>

<nav>
    <a href="@Url.Action("Create", "User")">Account maken</a>
    <a href="@Url.Action("MyAccount", "User")">Mijn gegevens</a>
    <a href="@Url.Action("Edit", "User", new { id = ViewBag.LoggedUserId })">Mijn Gegevens Aanpasen</a>
</nav>

<section>
    <table>
        <tr>
            <th>#</th>
            <th>Username:</th>
            <th>Account activiteit:</th>
            <th>Wachtwoord veranderen bij login:</th>
        </tr>

        @{
            int i = 0;
            foreach (var user in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@user.UserName</td>

                    @if (user.Activity == true)
                    {
                        <td>Actief</td>
                    }
                    else
                    {
                        <td>Inactief</td>
                    }
                    
                    @if (user.ChangePassword == true)
                    {
                        <td>Veranderen</td>
                    }
                    else
                    {
                        <td>Geen actie</td>
                    }

                    <td>
                        <a id="iconButton" href="@Url.Action("Edit", "User", new { id = user.Id } )" class="fa fa-pencil-square-o"></a>
                        <a id="iconButton" href="@Url.Action("Delete", "User", new { id = user.Id } )" class="fa fa-times"></a>
                    </td>
                </tr>
            }
          }
    </table>
</section>

