@{var controllerName = ViewContext.RouteData.Values["controller"];}

<!doctype html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/style.css")">
        @RenderSection("css", false)
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/icon" href="@Url.Content("~/Content/Images/lisalogo_ico.png")" />
        
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="@Url.Content("~/Podcasts/RSS.cshtml")" />

        <script src="@Url.Content("~/Scripts/jquery1.11.1-min.js")"></script>
    </head>
    <body>
        <a name="top"></a>

        @if (controllerName.Equals("Index") || controllerName.Equals("index"))
        {
            /*standard menu*/
            <nav id="menu">
                <ul>
                    <li><a id="logobutton" href="#top"><img src="@Url.Content("~/Content/Images/lisa-logo.png")"></a></li>
                    <li><a href="#top"><span>Home</span></a></li>
                    <li><a href="#articles"><span>Artikelen</span></a></li>
                    <li><a href="#podcasts"><span>Podcasts</span></a></li>
                    <li><a href="#projects"><span>Projecten</span></a></li>
                    <li><a href="#footer"><span>Contact</span></a></li>
										<li><a href="#"><span>Sluiten</span></a></li>
                </ul>
            </nav>
        }
        else
        {
            <nav>
                <ul>
                    <li><a id ="logobutton" href="@Url.Action("Index", "Index")"><img src="@Url.Content("~/Content/Images/lisa-logo.png")"></a></li>
                    <li><a href="@Url.Action("Index", "Index")"><span>Home</span></a></li>
                    <li><a href="@Url.Action("Index", "Articles")"><span>Artikelen</span></a></li>
                    <li><a href="@Url.Action("Index", "Podcasts")"><span>Podcasts</span></a></li>
                    <li><a href="@Url.Action("Index", "Projects")"><span>Projecten</span></a></li>
                    <li><a href="#footerButton"><span>Contact</span></a></li>
										<li><a href="#"><span>Sluiten</span></a></li>
                </ul>
            </nav>
        }

        <div id="responsiveButton">
            <ul>
                <li><a href="#menu"><span></span><span></span><span></span></a></li>
            </ul>
        </div>

        @RenderBody()

        <footer>
            <a name="footer"></a>
            <div>
                <h2>Contact</h2>
                <div>
                    <p>E-mail: lisa@davinci.nl</p>
                    <p>Telefoon:</p>
                    <p>Adres:</p>
                    <p>Blablabla:</p>
                </div>
            </div>
        </footer>

        <!-- Add any scripts with or without exeptions here -->

        @if (controllerName.Equals("Articles") || controllerName.Equals("articles"))
        { 
            <script src="@Url.Content("~/Scripts/Articles.js")"></script>
        }
    </body>
</html>
