<!Doctype html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 801px)" href="@Url.Content("~/Content/CSS/style.css")">
        <link rel="stylesheet" type="text/css" media="screen and (min-width: 801px)" href="@Url.Content(ViewBag.css)">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 800px)" href="@Url.Content("~/Content/CSS/styleResponsive.css")">
        <link rel="stylesheet" type="text/css" media="screen and (max-width: 800px)" href="@Url.Content(ViewBag.cssResponsive)">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/icon" href="@Url.Content("~/Content/Images/lisalogo_ico.png")" />
    </head>
    <body>

        @RenderBody()

        <div class="footer">
            <span class="jump-button" id="footer-button">Contact</span>
            <div id="footerdiv">
                <h2 name="contact">Contact</h2>
                <div id="content-footer">
                    <p>E-mail: lisa@davinci.nl</p>
                    <p>Telefoon:</p>
                    <p>Adres:</p>
                    <p>Blablabla:</p>
                </div>
            </div>
        </div>

        <script src="@Url.Content("~/Scripts/jquery1.11.1-min.js")"></script>
        <script src="@Url.Content("~/Scripts/script.js")"></script>
        <script src="@Url.Content(ViewBag.localScript)"></script>

    </body>
</html>
