@{Layout = null;}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@Url.Content("~/Content/FontAwesome/css/font-awesome.min.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/management.css")">
        @RenderSection("css", false)
        <link rel="icon" type="image/icon" href="@Url.Content("~/Content/Images/lisalogo_ico.png")" />
        <title>Beheer</title>
    </head>

    <body>
        @RenderBody()
    </body>
</html>