@{Layout = null;}

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="@Url.Content("~/Content/FontAwesome/css/font-awesome.min.css")">
		<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CSS/management.css")">
		@RenderSection("css", false)
		<link rel="icon" type="image/icon" href="@Url.Content("~/Content/Images/lisalogo_ico.png")" />
		<title>Beheer</title>
	</head>

	<body>
        <nav id="menu">
            <ul>
                <li><a target="_blank" href="@Url.Action("Index", "Index")">&nbsp;</a></li>
                <li><a href="@Url.Action("Admin", "Index")"><span>CMS Home</span></a></li>
                <li><a href="@Url.Action("Admin", "Podcasts")"><span>Podcasts</span></a></li>
                <li><a href="@Url.Action("Admin", "Projects")"><span>Projecten</span></a></li>
                <li><a href="@Url.Action("Admin", "Articles")"><span>Artikelen</span></a></li>
                <li><a href="@Url.Action("Admin", "User")"><span>Gebruikers</span></a></li>
                <li><a href="@Url.Action("MyAccount", "User")"><span>Mijn Account</span></a></li>
                <li><a target="_blank" href="@Url.Action("Index", "Index")"><span>Website Hoofdpagina</span></a></li>
            </ul>
        </nav>

        @RenderBody()
	</body>
</html>