<nav>
	<ul>
		<li><a id="logobutton" href="@Url.Action("Index", "Index")">&nbsp;</a></li><!--
		--><li><a href="@Url.Action("Index", "Index")"><span>Home</span></a></li><!--
		--><li><a href="@Url.Action("Index", "Articles")"><span>Artikelen</span></a></li><!--
		--><li><a href="@Url.Action("Index", "Podcasts")"><span>Podcasts</span></a></li><!--
		--><li><a href="@Url.Action("Index", "Projects")"><span>Projecten</span></a></li><!--
		--><li><a href="#footerButton"><span>Contact</span></a></li><!--
		--><li><a href="#"><span>Sluiten</span></a></li>
	</ul>
</nav>