@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<a href="@Url.Action("Add", "ManagementArticle")">Artikel Toevoegen</a>

@if (ViewBag.Saved == true)
{
    <p id="importnantMessage">Het artikel is succesvol opgeslagen!</p>
}

<h1>Artikelen Beheren:</h1>

<table>
    <tr>
        <th>Artikelnummer:</th>
        <th>Titel:</th>
        <th>Datum van publiceren:</th>
        <th>Inhoud:</th>
        <th>Opties:</th>
    </tr>

    @foreach (var article in Model)
    {
        string articleContent = article.Content;
        if (articleContent.Length > 200)
        {
            articleContent = articleContent.Substring(0, 200);
            articleContent = articleContent + "...";
        }

        <tr>
            <td>@article.Id</td>
            <td>@article.Title</td>
            <td>@article.Date</td>
            <td>@articleContent</td>
            <td><a id="iconButton" href="@Url.Action("Edit", "ManagementArticles", new { id = article.Id })" class="fa fa-pencil-square-o"></a><a id="iconButton" class="fa fa-times" href="@Url.Action("Index", "ManagementArticles", new { id = article.Id })"></a></td>
        </tr>
    }
</table>