@{Layout = "~/Views/Shared/_ManagementLayout.cshtml";}

<a href="@Url.Action("Add", "ManagementArticles")">Artikel Toevoegen</a>
<br/>
<a href="@Url.Action("Index", "ManagementIndex")">Terug naar hoofdpagina</a>

@if (ViewBag.Saved == "Add")
{
    <p id="importnantMessage">Het artikel is succesvol opgeslagen!</p>
}
else if (ViewBag.Saved == "Edit")
{
    <p id="importnantMessage">Het artikel is succesvol aangepast!</p>
}
else if (ViewBag.Saved == "Delete")
{
    <p id="importnantMessage">Het artikel "@ViewBag.Changed" is succesvol verwijderd!</p>
}
else if (ViewBag.Saved == "False")
{
    <p id="importnantMessage">LET OP! Uw wijzigingen zijn niet doorgevoerd!</p>
}

<h1>Artikelen Beheren:</h1>

<table>
    <tr>
        <th>Artikelnummer:</th>
        <th>Titel:</th>
        <th>Datum van publiceren:</th>
        <th>Inhoud:</th>
        <th>Opties:</th>
    </tr>

    @foreach (var article in Model)
    {
        string articleContent = article.Content;
        if (articleContent.Length > 200)
        {
            articleContent = articleContent.Substring(0, 200);
            articleContent = articleContent + "...";
        }

        <tr>
            <td>@article.Id</td>
            <td>@article.Title</td>
            <td>@article.Date</td>
            <td>@articleContent</td>
            <td>
                <a id="iconButton" href="@Url.Action("Edit", "ManagementArticles", new { id = article.Id })" class="fa fa-pencil-square-o"></a>
                <a id="iconButton" href="@Url.Action("Delete", "ManagementArticles", new { id = article.Id })" class="fa fa-times"></a>
            </td>
        </tr>
    }
</table>