
<div class="content">
    <div>
        <ul>
            <li>
                <a>
                    <img src="@Url.Content("../Content/Images/Penguin.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("../Content/Images/Raven.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>

            <li>
                <a>
                    <img src="@Url.Content("../Content/Images/Kiwi.png")">
                    <h2>titel</h2>
                    <p>
                        tekst
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="artikelen">
    <div>
        <ul>
            <li>
                <a href="artikel.html" id="js-hover1">
                    <img src="@Url.Content("../Content/Images/PCTELCOM.jpg")">
                    <div class=" articlecontent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover2">
                    <img src="@Url.Content("../Content/Images/fiber.jpg")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover3">
                    <img src="@Url.Content("../Content/Images/home.jpg")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover4">
                    <img src="@Url.Content("../Content/Images/ICT.png")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover5">
                    <img src="@Url.Content("../Content/Images/ICT_w1.jpg")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover6">
                    <img src="@Url.Content("../Content/Images/shutter.jpg")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover7">
                    <img src="@Url.Content("../Content/Images/AchtergrondLisaRood.jpg")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover8">
                    <img src="@Url.Content("../Content/Images/afbeeldingict.jpg")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud</p>
                    </div>
                </a>
            </li>

            <li>
                <a href="artikel.html" id="js-hover9">
                    <img src="@Url.Content("../Content/Images/background-ict.jpg")">
                    <div class="articleContent">
                        <h2>Titel</h2>
                        <p>inhoud hsdfjdfl slkfjsdlkjf test dlskfjslkdjf test lskjdflskjdf test lskjflkjsdklf test slkdjflskjdf test</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>